requests==2.22.0
dvc
bs4
lxml
pytest
pandas
requests-mock==1.8.0
pytest-pep8
pytest-cov
boto3
scikit-learn==0.22.1
statsmodels
schedule
sqlalchemy
psycopg2-binary
marshmallow
flask
codecov
pytz
altair
Flask-WTF
matplotlib
awscli