numpy
requests
dvc
beautifulsoup4==4.8.2
lxml
pytest
pandas==1.0.5
requests-mock
pytest-pep8
pytest-cov
boto3
scikit-learn==0.22.1
statsmodels
schedule
sqlalchemy
psycopg2-binary
marshmallow
flask
codecov
pytz
altair
Flask-WTF
matplotlib
awscli
graphyte
appmetrics
