numpy== 1.19.4
requests==2.24.0
dvc==1.9.1
beautifulsoup4==4.9.3
lxml==4.6.3
pytest==6.1.2
pandas==1.0.5
requests-mock==1.8.0
pytest-flake8==1.0.6
pytest-cov==2.10.1
pytest_mock==3.5.1
scikit-learn==0.24.2
codecov==2.1.10
matplotlib==3.3.2
awscli==1.18.170
geopandas == 0.8.2
shapely==1.7.1
pymc3==3.11.2
gpflow==2.2.1
statsmodels==0.12.2
pyrosm==0.6.0
