{% extends "base.html" %}

{% block content %}
      <div class="charts text-center">
        <h1>Прогноз концентрации частиц пыли в воздухе</h1>
        <!--<div class="row"><div id="electricity"></div></div><hr> -->
        <!--<div class="row"><div id="barley"></div></div><hr>-->
        <!-- Placeholder for the tooltip -->
        <div id="vis-tooltip" class="vg-tooltip"></div>
      </div>
    </div>

    <div class="charts text-center">
        <h2> Концентрация частиц </h2>
    </div>

    <div class="charts text-center">
    <div id="vis_sens">
        <script type="text/javascript">
        var spec = "/graph/forecast";
        vegaEmbed('#vis_sens', spec).then(function(result) {
            // Access the Vega view instance (https://vega.github.io/vega/docs/api/view/) as result.view
        }).catch(console.error);
        </script>
    </div>
    </div>
{% endblock %}