{% extends "base.html" %}

{% block content %}
      <div class="charts text-center">
        <h1>Aнализ качества воздуха в Москве</h1>
        <!--<div class="row"><div id="electricity"></div></div><hr> -->
        <!--<div class="row"><div id="barley"></div></div><hr>-->
        <!-- Placeholder for the tooltip -->
        <div id="vis-tooltip" class="vg-tooltip"></div>
      </div>

    <h2>Период наблюдений</h2>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.start_date.label}}<br>
            {{ form.start_date(size=32) }}
        </p>
        <p>
            {{ form.end_date.label }}<br>
            {{ form.end_date(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>

    <div class="charts text-center">
        <embed src="/graph" width="1100" height="700">
    </div>

    <div class="charts text-center">
        <h2> Распределение признаков для различных кластеров</h2>
        <img src={{url_for('static', filename='images/clusters_distribution.png')}} alt="Distribution" style="width:1200px;height:700px;">
        <p align="justify">
       К кластеру 0 относятся аномалии, характеризующиеся небольшими значениями концентрации частиц
            . В кластере 2 увеличение PM2.5 связано с повышением
            влажности воздуха. В кластере 1 повышение концентрации частиц не связано с увеличением влажности.
        </p>

    </div>
{% endblock %}