{% extends "base.html" %}

{% block content %}
      <div class="charts text-center">
        <h1>Aнализ качества воздуха в Москве</h1>
        <!--<div class="row"><div id="electricity"></div></div><hr> -->
        <!--<div class="row"><div id="barley"></div></div><hr>-->
        <!-- Placeholder for the tooltip -->
        <div id="vis-tooltip" class="vg-tooltip"></div>
          Это страница проекта, посвещенного анализу качества воздуха в Москве - детекции аномалий,
          их кластеризации и предсказания измения концентрации частиц пыли.
      </div>

    <h2>Период наблюдений</h2>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.start_date.label}}<br>
            {{ form.start_date(size=32) }}
        </p>
        <p>
            {{ form.end_date.label }}<br>
            {{ form.end_date(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    <div class="charts text-center">
        <p align="justify">
            На графике ниже изображено измение концентрации частиц PM2.5 и PM10 и значений индекса AQI US (PM2.5)
            за последнее время и прогнозируемые значения. На графике AQU US цветом точек обозначен уровень опасности
            для здоровья (<a href="https://en.wikipedia.org/wiki/Air_quality_index#United_States">подробнее</a>).
            На графике концентраций точки обозначают аномалии, а их цвет - принадлежность аномалии к кластеру. Для
            анализа используются средние по Москве значения с фильтрацией завышенных и заниженных значений.
        </p>

    </div>

    <div class="charts text-center">
        <embed src="/graph" width="1100" height="700">
    </div>

    <div class="charts text-center">
        <h2> Кластеризация аномалий</h2>
        <p align="justify">
            К кластеру 0 относятся аномалии, характеризующиеся небольшими значениями концентрации частиц
            . В кластере 2 увеличение PM2.5 связано с повышением
            влажности воздуха. В кластере 1 повышение концентрации частиц не связано с увеличением влажности.
            Ниже представлены гистограммы распределения признаков для различных кластеров
        </p>
        <img src={{url_for('static', filename='images/clusters_distribution.png')}} alt="Distribution" style="width:1200px;height:700px;">
    </div>

    <div class="charts text-center">
        <h2> О проекте</h2>
        Проект некомерческий и разрабатывается в рамках инициативы #ml4sg сообщества
        <a href="https://ods.ai/">ODS.ai</a>. Исходный код доступен на
        <a href="https://github.com/aerubanov/DS_for_Air">GitHub</a>
        <h3> Источники данных</h3>
        <p> В проекте используются проекта данные общественного мониторнга воздуха проекта
        <a href="https://luftdaten.info/" title="luftdaten.info" rel="nofollow">Luftdaten</a>. Данные собираются с
        датчиков концентрации частиц, температуры, атмосферного давления и влажности воздуха и размещаются в
        открытом доступе. В Москве установкой станций мониторинга качества воздуха занимаются волонтеры
        <a href="https://breathe.moscow/" title="breathe.moscow" rel="nofollow">breathe.moscov</a>.</p>
        <p>Информация о погоде в Москве используется по данным метеостанции
            <a href="https://rp5.ru/%D0%90%D1%80%D1%85%D0%B8%D0%B2_%D0%BF%D0%BE%D0%B3%D0%BE%D0%B4%D1%8B_
            %D0%B2_%D0%9C%D0%BE%D1%81%D0%BA%D0%B2%D0%B5_(%D1%86%D0%B5%D0%BD%D1%82%D1%80,_
            %D0%91%D0%B0%D0%BB%D1%87%D1%83%D0%B3)" title="rp5.ru" rel="nofollow">Балчуг</a></p>
        <h3>Дальнейшее развитие</h3>
        <ul>
            <li> Разработка телеграмм-бота для оперативного информирования об измении концентрации частиц</li>
            <li> Анализ с учетом пространственного положения датчиков</li>
        </ul>
    </div>
{% endblock %}